.ss-attachment-item {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.ss-attachment-item-remove {
	
}

.clearfix:before,.clearfix:after {
	content: "";
	display: table
}

.clearfix:after {
	clear: both
}